### 01_자료형  
- 숫자형/문자열
- 리스트/튜플/사전/집합

In [2]:
# a = 10
# b = 20
# c = a + b
# print(c)
# 파이썬 버전
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

#### [1] 숫자형 : 정수형,실수형

- 정수형 : int형

In [5]:
a = 12345
b = 100
c = a + b
print(a)
print(b)
print(type(a))

12345
100
<class 'int'>

- 실수형 : float형

In [7]:
f = 10.54
print(f)
print(type(f))

b = float(a)
print(b)
print(type(b))

10.54
<class 'float'>
12345.0
<class 'float'>

In [8]:
a = 10
b = 5
c = a + b  # 정수 (+,-,*)
d =  a / b # 실수
print(d)

2.0

#### 객체 :  파이썬의 모든 변수,  데이터 형은 객체로 관리된다

In [10]:
a = 30   # int 클래스의 인스턴스 객체를 생성
print(hex(id(a)))
b = 40   # int 클래스의 인스턴스 객체를 생성
print(hex(id(b)))
b = a
print(hex(id(b)))

b = 40
print(hex(id(b)))

0x7ff8b42a2d58
0x7ff8b42a2e98
0x7ff8b42a2d58
0x7ff8b42a2e98

#### [2] 문자열 : 불변형(immutable), 시퀀스형
- 문자열은 요소를 수정할수 없는 자료형, 순서를 갖는 자료형

In [12]:
str1 = "Hello Python"
print(str1)
print(type(str1))

str2 = 'Good Bye'
print(str2)
print(type(str2))

str3 = "this is a 'double' quotation"
print(str3)

# \ 는 줄바꿈
str4 = \
'''
Desc : This is a test code!
Date : 2025-02-03
(C) copyright
'''
print(str4)

Hello Python
<class 'str'>
Good Bye
<class 'str'>
this is a 'double' quotation

Desc : This is a test code!
Date : 2025-02-03
(C) copyright

#### [3] 리스트(list) : 가변형(mutable), 시퀀스, 가장 유용한 자료형, [ ] :대괄호, 중복 허용

In [14]:
a = [1,2,3,4,5,6]
print(a)
print(type(a))

b = ['a','hello',1,3.5,a,3.5,1]
print(b)

[1, 2, 3, 4, 5, 6]
<class 'list'>
['a', 'hello', 1, 3.5, [1, 2, 3, 4, 5, 6], 3.5, 1]

In [15]:
# 인덱싱
a = [1,2,3,4,5,6]

print(a[0],a[1],a[2],a[-1],a[True],a[False])

a[0] = 10
print(a)

1 2 3 6 2 1
[10, 2, 3, 4, 5, 6]

In [16]:
# 슬라이싱 : a[start:end+1:step]
a = [1,2,3,4,5,6]
print(a[:5])
print(a[1:4])
print(a[:])
print(a[:-1])

print(a[::3])
print(a[::-1])  # 요소의 순서를 거꾸로 변경한다

[1, 2, 3, 4, 5]
[2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 4]
[6, 5, 4, 3, 2, 1]

In [17]:
# range(start,end + 1, step)
print(list(range(0,10,1)))
print(list(range(10)))
print(list(range(0,10)))

print(list(range(-10,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10]

#### [4] 튜플(tuple) : 불변형(immutable), 시퀀스형, ( ):소괄호 사용

In [19]:
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [20]:
# 인덱싱
a = (1,2,3,4,5)

print(a[0],a[1],a[2],a[-1],a[True],a[False])

# a[0] = 10  # TypeError   , 불변형이므로 요소 수정이 불가

1 2 3 5 2 1

In [21]:
b = list(a) # 형변환
print(type(b))
b[0] = 10
print(b)
b = tuple(b)
b

<class 'list'>
[10, 2, 3, 4, 5]

(10, 2, 3, 4, 5)

In [22]:
# 슬라이싱 : a[start:end+1:step]
a = (1,2,3,4,5,6)
print(a[:5])
print(a[1:4])
print(a[:])
print(a[:-1])

print(a[::3])
print(a[::-1])  # 요소의 순서를 거꾸로 변경한다

(1, 2, 3, 4, 5)
(2, 3, 4)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)
(1, 4)
(6, 5, 4, 3, 2, 1)

In [23]:
# 패킹(packing), 언패킹 튜플
t = 1,2,'hello'   # 괄호 생략이 가능, 쉼표로 데이터가 구분되어 있으면 튜플, 패킹
print(type(t))

x,y,z = t    # 언패킹
print(x,y,z)

<class 'tuple'>
1 2 hello

In [24]:
a,b,c =  10,20,'hi'    # 언패킹
print(a,b,c)

10 20 hi

In [25]:
t = (1,2,3,4,5,6,7)
# a,b = t  # ValueError 
a,b,_,c,_,_,d = t

In [26]:
# 두 개의 값을 서로 변경하는 코드
# x : 1, y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)
# (2) 파이썬 방식(튜플의 언패킹 사용) 
x,y = 1,2
x,y = y,x
print(x,y)

2 1
2 1

#### [5] 사전(dict): 가변형(mutable), 순서가 없다, 연관형, 매핑형 ,{ } : 중괄호사용
{key:value,.....}, key 는 반드시 immutable형 이어야 한다(숫자형,문자열,튜플),
value 는 mutable,immutable 모두 사용 가능하다

In [28]:
a = {'name':'홍길동', 'age':30,'phone':'010-1234-1234',10:100}
print(a)
print(type(a))

{'name': '홍길동', 'age': 30, 'phone': '010-1234-1234', 10: 100}
<class 'dict'>

In [29]:
# 요소 접근: a[key]
print(a['name'],a['age'],a['phone'],a[10])

홍길동 30 010-1234-1234 100

In [30]:
# 요소 수정
a['name'] = '김철수'   # 요소 변경이 가능
a['age'] = 20
a[10] = 500
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 10: 500}

In [31]:
# 요소 추가
a['주소'] = '서울시'
a['직업'] = '학생'
a[(1,2,3)] = '튜플데이터'
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 10: 500, '주소': '서울시', '직업': '학생', (1, 2, 3): '튜플데이터'}

#### [6] 집합(set) : mutable, 순서가 없다, { }중괄호 사용, 중복을 허용하지 않는다

In [33]:
s = {1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [34]:
s = {4,4,4,6,6,6,1,1,1,8,8,8}
print(s)

{8, 1, 4, 6}

In [35]:
# 리스트에서 중복된 요소를 제거
l = [4,4,4,6,6,6,1,1,1,8,8,8]
s = list(set(l))   
print(s)

[8, 1, 4, 6]